body {
    background-image: url("assets/images/background-desktop.png");
    width: 100%;
    font-family: Inconsolata;
}

.topSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    color: white;
}

.bodyTitle {
    text-align: center;
    font-size: 3rem;
    width: 33%;
}

.topLogo {
    width: 10%;
}

.topDescription {
    text-align: center;
    width: 25%;
    font-size: 1.2rem;
    font-weight: 500;
    color: hsl(252, 6%, 83%);
}

.ticketDiv {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.ticketSection {
    color: white;
    background-image: url("./assets/images/pattern-ticket.svg");
    background-repeat: no-repeat;
    width: 600px;
}

.Profile {
    
    display: flex;
    flex-direction: row;
    

}

#placeholderImg {
    width: 15%;
    border-radius: 25%;
    margin-left: 5%;
    padding: 1%;
}

.ConfDets {
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.ProfileDesc {
    display: flex;
    flex-direction: row;
     margin-bottom: 5%;
}

#YourName, #YourGName {
    font-size: 1rem;
    margin-left: 25%;
    margin-bottom: 0%;
}

#ticketNumb {
    font-size: 1.5rem;
    writing-mode: vertical-rl;
    margin-left: auto; 
    margin-right: 5%;  
    margin-bottom: 0%;
}
